@media (max-width: 800px){
    body{
        min-width: 620px;
    } 

    .move-mobile{
        display:block;
    }

    .move-mobile img{
        width: 175px;
    }
    
    .img-up{
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(180deg);
    }
    
    .img-right{
        transform: rotate(270deg);
    }
    
    .img-left{
        transform: rotate(90deg);
    }
    
    .second-row{
        display: block;
        text-align: center;
        /* margin-left: auto;
        margin-right: auto;   */
    }
}

#restart{
    visibility: hidden;
    display: block;
    margin: auto;
    font-size: 20px;
    border-radius: 20px;
    border-width: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 30px 10px 30px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    color: rgb(61, 80, 61);
}

canvas{
    display: block;
    margin: 0 auto;
}

a{
    display: block;
    text-align: right;
    color: red;
}

@media (min-width: 800px){
    .move-mobile{
        display: none;
    }
}